/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #e7ebf0;
}

#root {
  height: 100vh;
}
